<html>

<head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>


<body>
    <div class='bg'>
        <h1>Person:<%= ID%></h1>
        

        <h1>Person:<%= Qstr%></h1>
        
    </div>
</body>

</html>